### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

### Pycharm ###
.idea/

### VisualStudioCode ###
.vscode/
XDG_CACHE_HOME/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

### Test ###
test/*
./test/*
