<div class="header-menu">
  <nav class="menu-content">
    <ul class="menu-dropdown">
      <li>
        <a href="#" id="menu-dropdown-bars">
          <i class="fa fa-fw fa-bars"></i>
        </a>
        <ul class="menu-categories">
          {% for item in site.data.settings.dropdown_menu %}
          <li><a href="{{ site.github.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.path }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <nav class="social-icons">
    {% include social-icons.html %}
  </nav>
  <hr class="header-hr"/>
</div>
