---
layout: default
---

<style>
  #intro-container {
    width: 100%;
    text-align: center;
  }
  @keyframes messageFadeIn {
	0% {
      opacity: 0;
      transform: translateY(-33px);
	}
	5% {
      opacity: 1;
      transform: translateY(0px);
	}
	95% {
      opacity: 1;
      transform: translateY(0px);
	}
	100% {
      opacity: 1;
      transform: translateY(0px);
	}
  }
  #intro-box {
    position: relative;
    display: inline-block;
    animation: messageFadeIn 6s ease-in forwards;
    width: 180px;
    height: 33px;
    padding-top: 6px;
    background-color: rgba(219, 234, 254, 0.7);
    border: 1px solid #efefef;
    border-radius: 30px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  #intro-box:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: inset 0 0 0 50px rgba(59, 130, 246, 0);
  }
  #intro-box #intro-emoji {
    position: absolute;
    top: 10px;
    left: 26px;
  }
  #intro-box #intro-emoji img {
    width: 18px;
  }
  #intro-box #intro-span {
    width: 100%;
    height: 100%;
    color: #343434;
    font-weight: 600;
    padding-left: 20px;
  }
</style>

<div class="home">
  <div id="intro-container" style="display: none;">
    <div id="intro-box">
      <span id="intro-emoji">:microphone:</span>
      <span id="intro-span">저를 소개합니다</span>
    </div>
  </div>
  <script>
    $('#intro-box').on('click', function (e) {
      e.preventDefault();
      location.href = '{{ site.github.url }}/about/';
    });
  </script>
  <!--  {%- if page.title -%}  -->
  <!--    <h1 class="page-heading">{{ page.title }}</h1>  -->
  <!--  {%- endif -%}  -->

  <!--  {{ content }}  -->

  {%- if site.posts.size > 0 -%}
    <!--  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>  -->
    {%- for post in site.posts -%}
      {% if post.categories %}
        {% unless post.categories contains 'demian'
            or post.categories contains 'daily'
            or post.categories contains 'etc' %}
          {% assign content_length = post.content | size %}
          <div class="title-box">
            <h1 class="home-post-title">
              <a class="post-link" href="{{ site.github.url }}{{ post.url }}">
                {{ post.title | escape }}
              </a>
            </h1>
          </div>
          <span class="home-post-date">
            <i class="fa fa-calendar" aria-hidden="true"></i> [생성]
            {% if post.created and post.updated %}
              {{ post.created | date: '%Y-%m-%d' }}
              [수정] {{ post.updated | date: '%Y-%m-%d' }} -
            {% else %}
              {{ post.date | date: '%Y-%m-%d' }} -
            {% endif %}
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            {% include read-time.html %}
          </span>
          {% if post.image %}
            {% if post.image contains '://' %}
            {% assign img_src = post.image %}
            {% else %}
            {% assign img_src = site.github.url | append: '/assets/post-img/' | append: post.image %}
            {% endif %}
            <div class="thumbnail-container">
              <a href="{{ site.github.url }}{{ post.url }}">
                <img src="{{ img_src }}" alt="{% if post.alt %}{{ post.alt }}{% else %}post image in home{% endif %}">
              </a>
            </div>
          {% endif %}
          <p style="margin: 15px 0 60px 0;">
            {{ post.content | strip_html | truncate: 150 }}
            {% if content_length > 349 %}
              <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
            {% endif %}
          </p>
        {% endunless %}
      {% endif %}
    {%- endfor -%}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
      {% else %}
        <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
      {% endif %}

      {% if paginator.previous_page %}
        <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
      {% else %}
        <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
      {% endif %}
    </div>

    <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>  -->
  {%- endif -%}

</div>
