---
layout: default
---

<div class="home">
  <!--  {%- if page.title -%}  -->
  <!--    <h1 class="page-heading">{{ page.title }}</h1>  -->
  <!--  {%- endif -%}  -->

  <!--  {{ content }}  -->

  {%- if site.posts.size > 0 -%}
    <!--  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>  -->
    {%- for post in site.posts -%}
      {% assign content_length = post.content | size %}
      <h1 class="home-post-title">
        <a class="post-link" href="{{ post.url }}">
          {{ post.title | escape }}
        </a>
      </h1>
      <span class="home-post-date">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{ post.date | date_to_string }} -
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {% include read-time.html %}
      </span>
      {% if post.image %}
        <div class="thumbnail-container">
          <a href="{{ site.github.url }}{{ post.url }}">
            <img src="{{ site.github.url }}/assets/img/{{ post.image }}">
          </a>
        </div>
      {% endif %}
      <p style="margin: 15px 0 60px 0;">
        {{ post.content | strip_html | truncate: 350 }}
        {% if content_length > 349 %}
          <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
        {% endif %}
      </p>
    {%- endfor -%}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.next_page %}
        <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
      {% else %}
        <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
      {% endif %}

      {% if paginator.previous_page %}
        <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
      {% else %}
        <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
      {% endif %}
    </div>

    <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>  -->
  {%- endif -%}

</div>
