---
layout: default
---

<h2>
  {{ page.title }}
  {% if page.author %}
    <small class="post-subtitle">by {{ page.author }}</small>
  {% else %}
    <small class="post-subtitle">by namu</small>
  {% endif %}
</h2>

{% if page.image and page.image-view %}
  {% if page.image contains '://' %}
  {% assign img_src = page.image %}
  {% else %}
  {% assign img_src = site.github.url | append: '/assets/post-img/' | append: page.image %}
  {% endif %}
  <div class="post-image-content">
    {% if page.title == '소나무' %}
      <a name="sonamu">
        <img src="{{ img_src }}">
      </a>
    {% else %}
      <img src="{{ img_src }}">
    {% endif %}
    <div class="post-image-source">
      image by
      <a href="{{ page.image-source }}">{{ page.image-author }}</a>
    </div>
  </div>
{% endif %}

{{ content }}

<span class="post-date">
  {{ site.data.settings.post_date_prefix }}
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
